
name: Package python virtual env

on:
  push:
    tags:
      - v*

jobs:
  build-venv:
    strategy:
      matrix:
        python_version: ['3.11']

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build venv package
        uses: minvws/action-python-venv-package@v1
        with:
          working_directory: './'
          python_version: ${{ matrix.python_version }}
          package_file_name: dva-mock
